body {
--vamtam-body-link-regular:#242627;
--vamtam-body-link-visited:#242627;
--vamtam-body-link-hover:#00000099;
--vamtam-body-link-active:#00000099;
--vamtam-input-border-radius:4px 4px 4px 4px;
--vamtam-input-border-color:#00000026;
--vamtam-btn-text-color:#FFFFFF;
--vamtam-btn-hover-text-color:#FFFFFF;
--vamtam-btn-bg-color:#010ED0;
--vamtam-btn-hover-bg-color:#242627;
--vamtam-site-max-width:1280px;
--vamtam-primary-font-color:#00000099;
--vamtam-h1-color:#0A0D31;
--vamtam-h2-color:#0A0D31;
--vamtam-h3-color:#0A0D31;
--vamtam-h4-color:#0A0D31;
--vamtam-h5-color:#0A0D31;
--vamtam-h6-color:#0A0D31;
--vamtam-accent-color-1:#010ED0;
--vamtam-accent-color-1-hc:#FFFFFF;
--vamtam-accent-color-1-rgb:1,14,208;
--vamtam-accent-color-2:#F5F5F5;
--vamtam-accent-color-2-hc:#000000;
--vamtam-accent-color-2-rgb:245,245,245;
--vamtam-accent-color-3:#5F6567;
--vamtam-accent-color-3-hc:#FFFFFF;
--vamtam-accent-color-3-rgb:95,101,103;
--vamtam-accent-color-4:#DEE0FF;
--vamtam-accent-color-4-hc:#000000;
--vamtam-accent-color-4-rgb:222,224,255;
--vamtam-accent-color-5:#FFFFFF;
--vamtam-accent-color-5-hc:#000000;
--vamtam-accent-color-5-rgb:255,255,255;
--vamtam-accent-color-6:#242627;
--vamtam-accent-color-6-hc:#FFFFFF;
--vamtam-accent-color-6-rgb:36,38,39;
--vamtam-accent-color-7:#00000026;
--vamtam-accent-color-7-hc:#FFFFFF;
--vamtam-accent-color-7-rgb:0,0,0;
--vamtam-accent-color-8:#00000099;
--vamtam-accent-color-8-hc:#FFFFFF;
--vamtam-accent-color-8-rgb:0,0,0;
--vamtam-sticky-header-bg-color:#010ED0;
--vamtam-primary-font-font-family:'Helvetica';
--vamtam-primary-font-font-weight:400;
--vamtam-primary-font-font-style:normal;
--vamtam-primary-font-transform:none;
--vamtam-primary-font-font-size-desktop:16px;
--vamtam-primary-font-font-size-tablet:16px;
--vamtam-primary-font-font-size-phone:16px;
--vamtam-primary-font-line-height-desktop:1.4;
--vamtam-primary-font-line-height-tablet:1.4;
--vamtam-primary-font-line-height-phone:1.5;
--vamtam-primary-font-letter-spacing-tablet:0px;
--vamtam-primary-font-letter-spacing-phone:0px;
--vamtam-h1-font-family:'Inter Tight';
--vamtam-h1-font-weight:600;
--vamtam-h1-font-style:normal;
--vamtam-h1-transform:none;
--vamtam-h1-font-size-desktop:60px;
--vamtam-h1-font-size-tablet:35px;
--vamtam-h1-font-size-phone:30px;
--vamtam-h1-line-height-desktop:1;
--vamtam-h1-line-height-tablet:1;
--vamtam-h1-line-height-phone:1;
--vamtam-h1-letter-spacing-desktop:-1px;
--vamtam-h1-letter-spacing-tablet:-1px;
--vamtam-h1-letter-spacing-phone:-1px;
--vamtam-h2-font-family:'Inter Tight';
--vamtam-h2-font-weight:700;
--vamtam-h2-font-style:normal;
--vamtam-h2-transform:none;
--vamtam-h2-font-size-desktop:48px;
--vamtam-h2-font-size-tablet:30px;
--vamtam-h2-font-size-phone:25px;
--vamtam-h2-line-height-desktop:1.2;
--vamtam-h2-line-height-tablet:1.1;
--vamtam-h2-line-height-phone:1.3;
--vamtam-h2-letter-spacing-tablet:0px;
--vamtam-h2-letter-spacing-phone:0px;
--vamtam-h3-font-family:'Inter Tight';
--vamtam-h3-font-weight:600;
--vamtam-h3-font-style:normal;
--vamtam-h3-transform:none;
--vamtam-h3-font-size-desktop:30px;
--vamtam-h3-font-size-tablet:24px;
--vamtam-h3-font-size-phone:20px;
--vamtam-h3-line-height-desktop:1.2;
--vamtam-h3-line-height-tablet:1.1;
--vamtam-h3-line-height-phone:1.1;
--vamtam-h3-letter-spacing-tablet:0px;
--vamtam-h3-letter-spacing-phone:0px;
--vamtam-h4-font-family:'Inter Tight';
--vamtam-h4-font-weight:600;
--vamtam-h4-font-style:normal;
--vamtam-h4-transform:none;
--vamtam-h4-font-size-desktop:24px;
--vamtam-h4-font-size-tablet:22px;
--vamtam-h4-font-size-phone:18px;
--vamtam-h4-line-height-desktop:1.3;
--vamtam-h4-line-height-tablet:1.3;
--vamtam-h4-line-height-phone:1.4;
--vamtam-h4-letter-spacing-tablet:0px;
--vamtam-h4-letter-spacing-phone:0px;
--vamtam-h5-font-family:'Inter Tight';
--vamtam-h5-font-weight:600;
--vamtam-h5-font-style:normal;
--vamtam-h5-transform:none;
--vamtam-h5-font-size-desktop:20px;
--vamtam-h5-font-size-tablet:18px;
--vamtam-h5-font-size-phone:16px;
--vamtam-h5-line-height-desktop:1.3;
--vamtam-h5-line-height-tablet:1.3;
--vamtam-h5-line-height-phone:1.3;
--vamtam-h5-letter-spacing-tablet:0px;
--vamtam-h5-letter-spacing-phone:0px;
--vamtam-h6-font-family:'Inter Tight';
--vamtam-h6-font-weight:600;
--vamtam-h6-font-style:normal;
--vamtam-h6-transform:none;
--vamtam-h6-font-size-desktop:16px;
--vamtam-h6-font-size-tablet:15px;
--vamtam-h6-font-size-phone:14px;
--vamtam-h6-line-height-desktop:1.6;
--vamtam-h6-line-height-tablet:1;
--vamtam-h6-line-height-phone:1;
--vamtam-h6-letter-spacing-tablet:0px;
--vamtam-h6-letter-spacing-phone:0px;
--vamtam-icon-Telemedicine:'\e919';
--vamtam-icon-Fintech:'\e91a';
--vamtam-icon-Consulting1:'\e91b';
--vamtam-icon-Software-Development:'\e914';
--vamtam-icon-NFT:'\e915';
--vamtam-icon-Automation:'\e911';
--vamtam-icon-Efficiency:'\e912';
--vamtam-icon-Transactions:'\e913';
--vamtam-icon-Target:'\e90d';
--vamtam-icon-Respectful:'\e90e';
--vamtam-icon-Ownership:'\e90f';
--vamtam-icon-Unified:'\e910';
--vamtam-icon-people:'\e90a';
--vamtam-icon-Process:'\e90b';
--vamtam-icon-Purpose:'\e90c';
--vamtam-icon-Web-development:'\e900';
--vamtam-icon-Security:'\e901';
--vamtam-icon-Mobile-development:'\e902';
--vamtam-icon-Managed:'\e903';
--vamtam-icon-Consulting:'\e904';
--vamtam-icon-Cloud:'\e905';
--vamtam-icon-arrow-up-right:'\e916';
--vamtam-icon-arrow-il:'\e906';
--vamtam-icon-minus:'\e917';
--vamtam-icon-plus:'\e918';
--vamtam-icon-check-box:'\e909';
--vamtam-icon-check-il:'\e907';
--vamtam-icon-star:'\e908';
--vamtam-form_field_border_border:solid;
--vamtam-form_field_border_width:1px 1px 1px 1px;
--vamtam-form_field_border_radius:4px 4px 4px 4px;
--vamtam-form_field_padding:10px 15px 10px 15px;
--vamtam-form_field_focus_border_border:solid;
--vamtam-form_field_typography_font_size:14px;
--vamtam-form_field_typography_font_size_mobile:16px;
--vamtam-form_field_typography_line_height:1.4em;
--vamtam-form_field_accent_color:#010ED0;
--vamtam-form_field_background_color:#FFFFFF;
--vamtam-form_field_border_color:#00000026;
--vamtam-form_field_focus_border_color:#010ED0;
--vamtam-form_label_color:#242627;
--vamtam-form_field_typography_font_family:Helvetica;
--vamtam-form_field_typography_font_size_tablet:px;
--vamtam-form_field_typography_line_height_tablet:em;
--vamtam-form_field_typography_line_height_mobile:em;
--vamtam-form_field_typography_letter_spacing:px;
--vamtam-form_field_typography_letter_spacing_tablet:px;
--vamtam-form_field_typography_letter_spacing_mobile:px;
--vamtam-form_field_typography_word_spacing:em;
--vamtam-form_field_typography_word_spacing_tablet:em;
--vamtam-form_field_typography_word_spacing_mobile:em;
}